## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [6]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [7]:
"Hi there sam!"

'Hi there sam!'

In [9]:
s="Hi there sam!"
s=s.split()
print(s);

['Hi', 'there', 'sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [10]:
planet="Earth"
diameter=12742

In [11]:
planet ="Earth"
diameter=12742
print('The diameter of {} is {} kilo meters.'.format(planet,diameter));

The diameter of Earth is 12742 kilo meters.

** Given this nested list, use indexing to grab the word "hello" **

In [12]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [14]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
a=lst[3][1][2];
print(a)

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'trichy':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [16]:

d = {'k1':[1,2,3,{'trichy':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["trichy"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

list is mutuable

In [2]:
list=[1,2,3]

In [3]:
print(type(list))

<class 'list'>

tuple is immutable

In [4]:
tuple=(1,2,3)

In [5]:
print(type(tuple))

<class 'tuple'>

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [22]:
def domainGet(email):
    print("Your domain is: " + email.split('@')[-1])

email = input("Please enter your email: >")
domainGet(email)

Please enter your email: >pr8486632@gmail.com
Your domain is: gmail.com

In [23]:
domainGet('user@domain.com')

Your domain is: domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [30]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

st = "Is there a dog here?"
findDog(st)

True

In [31]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [26]:
value = 'This dog runs faster than the other dog dude!';
def countdogs(value):
    count = 0
    for word in value.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
            print(count)

countdogs(value)

1
2

In [29]:
seq = ['soup','dog','salad','cat','great']

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [27]:
def caught_speeding(speed, is_birthday):
    pass

In [28]:
caught_speeding(81,True)

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [33]:
employees = ["Hari", "Dinesh", "Sandeep", "Saravanan", "Naveen", "Guru"]    
salary={}
for emp in employees:
    try:
       amount=int(input(f'Enter salary for {emp}: '))
       salary[emp]=amount
    except ValueError:
       print(f'Wrong salary input for {emp} ')
print(salary)
print('Total Salary Expenditure ',sum(salary.values()))

Enter salary for Hari: 5000
Enter salary for Dinesh: 6000
Enter salary for Sandeep: 4000
Enter salary for Saravanan: 9000
Enter salary for Naveen: 3000
Enter salary for Guru: 8000
{'Hari': 5000, 'Dinesh': 6000, 'Sandeep': 4000, 'Saravanan': 9000, 'Naveen': 3000, 'Guru': 8000}
Total Salary Expenditure  35000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [34]:
dic1 = {'Empid': 101, 'empname': 'Harikrishnan', 'Basicpay' : 200000 }
dic2 = {'DeptName': 'DEVELOPER','DeptId': 420, }

dic3 = {**dic1,**dic2}
print (dic3)

{'Empid': 101, 'empname': 'Harikrishnan', 'Basicpay': 200000, 'DeptName': 'DEVELOPER', 'DeptId': 420}